@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url(reset.css);
@import url(sobre.css);
@import url(contato.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fonte: #141414;
    --cor-fundo: #86A69D;
    --cor-footer: #65a694;
    --cor-btn: #bcbcbc;
    --cor-btn-hover: #6f6f6f;
    --cor-secundaria: #bcbcbc;
    --fonte-titulo: "Poppins", sans-serif;
    --fonte-texto: "Roboto Condensed", sans-serif;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-texto);
}

/* Menu de navegação */
nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem;
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    font-weight: 500;
    top: 0;
    position: sticky;
    background: var(--cor-fundo);
}

.nav-menu {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--cor-fonte);
}

nav a:hover {
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
}

nav li {
    list-style: none;
}

.secao-projetos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h3 {
    font-weight: 600;
    font-size: 2rem;
}

footer {
    display: none;
}

.descricao {
    text-align: center;
}

/* Cards */

.container-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 5%;

}

.card {
    box-shadow: 4px 10px 10px 4px var(--cor-btn-hover);
    transition: 0.3s;
    height: 300px;
    width: 280px;
    background-color: var(--cor-secundaria);
}

.card:hover {
    box-shadow: 20px 20px 20px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    height: 200px;
}

.container {
    height: 100px;
    align-content: center;
    text-align: center;
    padding: 2px 16px;
    background-color: var(--cor-secundaria);
}

.descricao-card {
    text-align: center;
    align-items: center;
    font-weight: 500;
}

@media (max-width: 992px) {

    .nav-titulo .menu-destaque {
        display: none;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    footer {
        display: block;
        width: 100%;
    }

    .rodape {
        display: flex;
        flex-direction: column;
        background-color: var(--cor-footer);
        padding: 8px 0;
    }

    .texto-rodape {
        text-align: center;
    }

    .icones-rodape {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    /* Cards */

    .container-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-bottom: 5%;
    }

    .container {
        height: 100px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding: 2px 16px;
        background-color: var(--cor-secundaria);
    }

    h2{
        font-size: 2.18rem;
    }

    h3{
        font-size: 1.5rem;
    }

    h4{
        font-size: 1.25;
    }

    p{
        font-size: 1rem;
    }
    
    .projetos{
        margin: 2%;
    }
}